Series

In [9]:
import pandas as pd
x=[3,4,5,2,6,7,8]
var=pd.Series(x)
print(var)
print(type(var))

0    3
1    4
2    5
3    2
4    6
5    7
6    8
dtype: int64
<class 'pandas.core.series.Series'>

In [10]:
import pandas as pd
x=[3,4,5,6]
var = pd.Series(x,index=['a','b','c','d'],dtype="float", name="python")
print(var)
print(type(var))
print(var[2])

a    3.0
b    4.0
c    5.0
d    6.0
Name: python, dtype: float64
<class 'pandas.core.series.Series'>
5.0

In [11]:
dic = {"name":['python','c','c++','java'],"property":[12,13,14,15],"rank":[1,4,3,2]}
var1 = pd.Series(dic)
var1

name        [python, c, c++, java]
property          [12, 13, 14, 15]
rank                  [1, 4, 3, 2]
dtype: object

In [12]:
s = pd.Series(12)
print(s)
print(type(s))

0    12
dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
s1=pd.Series(12,index=[1,2,3,4,5,6,7])
s2=pd.Series(12,index=[1,2,3,4,5])
print(s1+s2)

1    24.0
2    24.0
3    24.0
4    24.0
5    24.0
6     NaN
7     NaN
dtype: float64

Data Frame

In [15]:
import pandas as pd
l=[1,2,3,4,5,6]
var=pd.DataFrame(l)
print(type(var))

<class 'pandas.core.frame.DataFrame'>

In [17]:
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5]}
var1=pd.DataFrame(d)
print(var1)
print(type(var1))

   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
<class 'pandas.core.frame.DataFrame'>